# Môi trường ảo
venv/
/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# File cấu hình của IDE
.idea/
.vscode/
*.swp
*.swo

# File hệ thống
.DS_Store
Thumbs.db

# File dữ liệu lớn (Nếu bạn không muốn đưa dữ liệu lên Git)
# Bỏ comment dòng dưới nếu các file csv quá lớn
# data/*.csv

# File output hoặc file tạm
/output/
/logs/
*.log
*.tmp
*.temp

# File cấu hình Jupyter/IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py